<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="edu-eb-web"/>
    <!--注册中心-->
    <dubbo:registry protocol="zookeeper" address="162.14.77.50:2181"></dubbo:registry>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
    <dubbo:annotation package="com.feng.controller"></dubbo:annotation>
<!--    &lt;!&ndash; 用户服务接口 &ndash;&gt;-->
<!--    <dubbo:reference interface="com.feng.service.UserService" version="v1.0" id="userService" check="false" />-->
</beans>
